.document-editor {
    display: flex;
    flex-grow: 1;
}

.document-editor .text-area {
    display: flex;
    flex-grow: 1;
}

.document-editor .text-area .quill {
    flex-grow: 1;
}

.document-editor .render-area {
    display: flex;
    /*flex-grow: 1;*/
    overflow: scroll;
    background-color: #6c7279;
}

/*.render-area {*/
/*    height: 100%;*/
/*    width: 50%;*/
/*    float:right;*/
/*    */
/*}*/

.text-area .ql-editor {
    box-shadow: 0 0 5px 0 RGBA(0,0,0,0.5);
    background-color: whitesmoke;
}
.text-area .ql-editor .ql-snow {
    border: none;
    display:flex;
    justify-content: center;
}
.text-area .ql-toolbar .ql-snow {
    display:flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3f3f3;
    border: none;
    box-shadow: 0 0 5px 0 RGBA(0,0,0,.5);

}
/* .katex {
    border: none;
    background: none;
} */
.screen{
    background: rgb(255, 255, 231);
    position: relative;
    display: block;
    margin:auto;
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding: 10px;

    margin:1px; 
    padding:1px;
    word-wrap:break-word;
}
.render-header{
    font-size: 2rem;
    text-align: center;
    border-bottom: 3px double;   
}
