.my-editor {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
}

.my-editor .page-content {
    overflow-y: hidden;
    display: flex;

}

.my-editor .status-bar {
    height: 2em;
}

.page-content {
    display: flex;
    position: relative;
}

.account {
    padding-right: 30px !important;
    padding-left: 30px !important;
    color: white !important;
    font-size: 1.5rem;
}

.editor-area {
    background-color: rgb(207, 176, 0);
    width: 90%;
    /*display: inline-block;*/
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}
.editor-icon {
    width: 250px;
    font-size: 2rem;
    color: rgb(253, 196, 9) !important;
}
