.navbar {
  background:rgba(14, 20, 31, 0.794);
  height: 80px;
  display: contents;
  font-size: 1.2rem;
  top: 0;
  z-index: 1;
}

.navbar-logo {
  font-family: "Lucida Handwriting", "Courier New", monospace;
  color: #fff;
  cursor: pointer;
  text-decoration: none!important;
  font-size: 2rem;
  height: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  right: 100%;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

 .nav-item:hover {
  border-bottom: 2px solid #1a9bf1;
}

.nav-links {
  font:  1.1em "Fira Sans", serif;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none!important;
  padding: 0rem 2rem;
  height: 75px;
}
.nav-links:hover {
  color: #f0f5f4;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.nav-btn {
  height: 60px;
}
.nav-btn:hover{
  color: #f0f5f4;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.btn-outline{
  color: white!important;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar-logo {
    height: 40px;
    right: 800px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1c2237;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-item:hover {
    border: none;
  } 
  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
  .nav-btn:hover{
    color: #f0f5f4;
    transform: scale(0.2em) ;
    transition: all 0.3s ease;
  }
  }