* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }
  
  button {
    width: 100%;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .signup {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #084e5a;
    display: flex;
  }
  
  .signup .signupContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(14, 20, 31, 0.794);
    border-radius: 40px;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
  .signup .signupContainer label {
    color: rgb(255, 255, 255);
    margin: 14px 0;
    display: block;
    line-height: 1;
  }
  
  .signup .signupContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(187, 189, 183, 0.822);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .signup .signupContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .signup .signupContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  .title{
    text-align: center;
    color: #fff;
  }
  .secondary-btn {
    text-align: center;
    text-decoration: none!important;

  }
  .signup-logo{
  font-family: "Lucida Handwriting", "Courier New", monospace;
  width: fit-content;
  text-decoration: none !important;
  font-size: 3rem ;
  color: rgb(42, 46, 59);
}
  .signup-logo:hover{
    color: black;
  }

  .auth-links{
    position: relative;
    margin: auto;
    font-size: 1.2rem;
    color: white;
  }
  a{
    text-decoration: none !important;
    font-size: 1.2rem;
    color: rgb(255, 255, 255) !important;
  }

  .auth-btn.btn.btn-primary{
    background-color:  rgb(253, 239, 215) ;
    border: none;
    width: 100%;
    color: black;
    border-radius: 20px;
  }


